{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">

        <h1>Initiave Towards A Brighter Future</h1>

    </div>
</div>
<div class="container">
    <p>
        The university has started a new initiative which will help students to find their batchmates with the special expertise, so that they can learn and take help from them in absence of professors.
        Due to the high number of students, it becomes difficult for teaching assistants to give time to every student individually, so the university has come up with this solution.
    </p>
<br>
    <p>
        NJIT is a top-ranked public research university, offers undergraduate and graduate students over 125 degree programs ranging from the STEM disciplines to architecture and design,
        as well as management and humanities. It is the first university to take such an initiative, this will not only make it easier for the students to find the help but also increase the skill sets and
        inculcate industry skills like team work and proactive participation in the project.
    </p>
<br>
    <p>
        We encourage all the students to actively participate in this effort by sharing their knowledge because,"An investment in knowledge pays the best intrest".
    </p>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Expertise</th>
            <th scope="col">Branch</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sagar</td>
            <td>Shah</td>
            <td>ETL</td>
            <td>MS-IS</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Yash</td>
            <td>Shah</td>
            <td>C,C#</td>
            <td>MS-CS</td>>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>James</td>
            <td>Bond</td>
            <td>Management</td>
            <td>MS-BIS</td>
        </tr>
        </tbody>
    </table>

</div>

{% endblock %}
