{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">

        <h1>Student's Details</h1>

    </div>
</div>
<div class="container">
    <p>The university has started a new initiative which will help students to find their batchmates with the special expertise, so that they can learn and take help from them in absence of professors.</p>
</div>

{% endblock %}
