<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.njit.edu/"><span class="glyphicon glyphicon-user"></span> How to enroll</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Students with expertise in C</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Students with expertise in C#</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Students with expertise in PHP</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Students with expertise in Management</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Students with expertise in Embeded Systems</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Students with expertise in C++</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">Students with expertise in Java</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Students with expertise in .net</a></li>

          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.njit.edu/cds/welcome/"><span class="glyphicon glyphicon-book"></span> Carrier Devlopment Center</a>
      </li>
    </ul>
  </div>
</nav>
